<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class=" flex items-center justify-center pb-20 text-gray-600" style="background: #edf2f7;">
    <section class="antialiased  px-2 w-full">
    <div class="flex flex-col w-full px-8">
     
        <p class="text-center">  </span></p>
        <p class="text-center mb-12 mt-24 text-3xl font-bold">APP VENTAS LICORES</p>
    
        
        <div>
           <div class="grid grid-cols-4 gap-12 justify-center px-20 mt-4">
                <a href="tienda/" class=" rounded-2xl border shadow px-8 py-16 hover:-translate-y-1 hover:shadow-2xl delay-75 duration-100 bg-white hover:border-4 hover:border-blue-500">
                    <p class="mb-4 text-center flex justify-center">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" fill="none" viewBox="0 0 24 24" stroke="#4F46E5 " stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                        </svg>
                    </p>
                    <p class="text-2xl font-bold text-center text-blue-600" > Tienda</p> 
                </a>

                 <a href="admin/" class=" rounded-2xl border shadow px-8 py-16 hover:-translate-y-1 hover:shadow-2xl delay-75 duration-100 bg-white hover:border-4 hover:border-blue-500">
                    <p class="mb-4 text-center flex justify-center">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" fill="none" viewBox="0 0 24 24" stroke="#4F46E5 " stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                    </svg>
                    </p>
                    <p class="text-2xl font-bold text-center text-blue-600" > Admin</p> 
                </a>


                <a href="tiposDocumento/" class=" rounded-2xl border shadow px-8 py-16 hover:-translate-y-1 hover:shadow-2xl delay-75 duration-100 bg-white hover:border-4 hover:border-blue-500">
                    <p class="mb-4 text-center flex justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" fill="none" viewBox="0 0 24 24"  stroke="#4F46E5" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                        </svg>
                    </p>
                    <p class="text-2xl font-bold text-center text-blue-600" > TipoDocumento </p> 
                </a>

                 <a href="tiposLicores/" class=" rounded-2xl border shadow px-8 py-16 hover:-translate-y-1 hover:shadow-2xl delay-75 duration-100 bg-white hover:border-4 hover:border-blue-500">
                    <p class="mb-4 text-center flex justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg"class="h-16 w-16" fill="none" viewBox="0 0 24 24"  stroke="#4F46E5 " stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                        </svg>
                    </p>
                    <p class="text-2xl font-bold text-center text-blue-600" > TipoLicor</p> 
                </a>
            </div>  
        </div>
      
    </div>
</section>

</body>
</html>